
.room-list {
    list-style: none;
    }

.LINK {
    text-decoration: none;
}

h2 {
    text-align: center;
}

/* button */
.button-56 {
  align-items: center;
  background-color: white;
  border: 2px solid #111;
  box-sizing: border-box;
  margin-bottom: 26px;
  color: #111;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px; 
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  content: "";
  display: block;
  height: 48px;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:hover {
  background-color: #ead792;
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}